  *{
            margin: 0;
            padding: 0;
        }
        .fundo{ background-image: linear-gradient(320deg,#007FFF,#0047AB);
            height: 100vh;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .calculadora{
            position: absolute;
            background-color: #000;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 15px;
            padding: 15px;
        }
        .botao{
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            margin: 3px;
            background-color: rgb(31,31,31);
            border: 2px solid rgb(15, 15, 15);
            border-radius:2px;
            color: #fff;
        }
        .botao:hover{
            background-color: black;
        }
        #resultado{
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);         
           width: 207px;
            height: 30px;
            margin: 5px;
            font-size: 25px;
            color: black;
            text-align: right;
            padding: 5px;
            border:2px solid #3B444B;
            border-radius: 2px;
        }
.C{
  background-color: #D83519;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  border: none;
  color: #fff;
}

.result{
 background-color: #7CFC00;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  border: none;
  color: #fff; 
}